<div class="mcx-nav-data">
  <div><div>config</div><div></div><div>search-placeholder</div><div>Search products, brands, gear...</div></div>
  <div><div>config</div><div></div><div>sign-in-label</div><div>Sign In</div></div>
  <div><div>config</div><div></div><div>sign-in-url</div><div>/account</div></div>
  <div><div>hot</div><div></div><div>Deals &amp; Offers</div><div>/deals</div></div>

  <div><div>item</div><div></div><div>Shop All</div><div>/shop</div></div>
  <div><div>item</div><div></div><div>Apparel &amp; Footwear</div><div>/apparel-footwear</div></div>
  <div><div>group</div><div>Apparel &amp; Footwear</div><div>Men's</div><div></div></div>
  <div><div>group</div><div>Apparel &amp; Footwear</div><div>Women's</div><div></div></div>
  <div><div>group</div><div>Apparel &amp; Footwear</div><div>Footwear</div><div></div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Men's</div><div>Uniforms &amp; Cammies</div><div>/mens/uniforms</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Men's</div><div>T-Shirts &amp; Polos</div><div>/mens/tops</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Men's</div><div>Athletic Wear</div><div>/mens/athletics</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Women's</div><div>Uniforms</div><div>/womens/uniforms</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Women's</div><div>Activewear</div><div>/womens/activewear</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Women's</div><div>Accessories</div><div>/womens/accessories</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Footwear</div><div>Tactical Boots</div><div>/footwear/boots</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Footwear</div><div>Athletic Shoes</div><div>/footwear/athletic</div></div>
  <div><div>link</div><div>Apparel &amp; Footwear &gt; Footwear</div><div>Work &amp; Safety</div><div>/footwear/work</div></div>
  <div><div>feature</div><div>Apparel &amp; Footwear</div><div>Clearance Apparel</div><div>/clearance/apparel</div></div>
  <div><div>feature</div><div>Apparel &amp; Footwear</div><div>Top Rated Boots</div><div>/boots</div></div>
  <div><div>feature</div><div>Apparel &amp; Footwear</div><div>New Arrivals</div><div>/new</div></div>

  <div><div>item</div><div></div><div>Electronics</div><div>/electronics</div></div>
  <div><div>group</div><div>Electronics</div><div>Computers</div><div></div></div>
  <div><div>group</div><div>Electronics</div><div>Mobile &amp; Audio</div><div></div></div>
  <div><div>group</div><div>Electronics</div><div>Gaming</div><div></div></div>
  <div><div>link</div><div>Electronics &gt; Computers</div><div>MacBooks &amp; Laptops</div><div>/electronics/computers</div></div>
  <div><div>link</div><div>Electronics &gt; Computers</div><div>Tablets &amp; iPads</div><div>/electronics/tablets</div></div>
  <div><div>link</div><div>Electronics &gt; Mobile &amp; Audio</div><div>Smartphones</div><div>/electronics/mobile</div></div>
  <div><div>link</div><div>Electronics &gt; Mobile &amp; Audio</div><div>Headphones</div><div>/electronics/audio</div></div>
  <div><div>link</div><div>Electronics &gt; Gaming</div><div>Consoles</div><div>/electronics/gaming</div></div>
  <div><div>link</div><div>Electronics &gt; Gaming</div><div>Games &amp; Software</div><div>/electronics/gaming</div></div>
  <div><div>feature</div><div>Electronics</div><div>Apple Products</div><div>/electronics/apple</div></div>
  <div><div>feature</div><div>Electronics</div><div>Gaming Deals</div><div>/electronics/gaming</div></div>

  <div><div>item</div><div></div><div>Home &amp; Living</div><div>/home</div></div>
  <div><div>group</div><div>Home &amp; Living</div><div>Furniture</div><div></div></div>
  <div><div>group</div><div>Home &amp; Living</div><div>Kitchen</div><div></div></div>
  <div><div>group</div><div>Home &amp; Living</div><div>Bedding &amp; Bath</div><div></div></div>
  <div><div>link</div><div>Home &amp; Living &gt; Furniture</div><div>Bedroom</div><div>/home/furniture</div></div>
  <div><div>link</div><div>Home &amp; Living &gt; Kitchen</div><div>Appliances</div><div>/home/kitchen</div></div>
  <div><div>link</div><div>Home &amp; Living &gt; Bedding &amp; Bath</div><div>Towels</div><div>/home/bath</div></div>

  <div><div>item</div><div></div><div>Sports &amp; Outdoors</div><div>/sports-outdoors</div></div>
  <div><div>item</div><div></div><div>Uniforms</div><div>/uniforms</div></div>
  <div><div>item</div><div></div><div>Kids &amp; Toys</div><div>/kids-toys</div></div>
</div>
