@font-face {
  font-family: 'MCX Sans';
  src: url('../fonts/adobe-clean-normal-400.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'MCX Sans';
  src: url('../fonts/adobe-clean-normal-500.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'MCX Sans';
  src: url('../fonts/adobe-clean-normal-700.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'MCX Sans';
  src: url('../fonts/adobe-clean-italic-400.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'MCX UI';
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'MCX UI';
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'MCX UI';
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'MCX Condensed';
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
